[submodule "submodules/triton"]
	path = submodules/triton
	url = https://github.com/triton-lang/triton.git
[submodule "submodules/nano-vllm"]
	path = submodules/nano-vllm
	url = https://github.com/Luosuu/nano-vllm.git
